# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ADMIN\OneDrive\Máy tính\NguyenVanHong_0623\4IN1_DoAnTotNghiep-2c35f8562cdeda0418170817d177b20a1c893932\Back_End\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
