<title>Lịch sự kiện</title>
<body style="position: relative;margin-top: 130px;margin-bottom: 20px">
<div class="row justify-content-center">
  <div class="col-lg-8">
    <div style="display: inline;">
      <h2 style="margin-left: 37%; margin-top: 36px" class="title">LỊCH SỰ KIỆN</h2>
      <div class="text-center">
        <a class="animated-btn text-white" href="timkiemsukien">Tìm sự kiện</a>
      </div>
    </div>
  </div>
</div>
<div class="calendar">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
</body>
<style>
  .calendar{
    width: 80%;
    margin: auto;
  }
</style>
