<title>Lịch sự kiện</title>
<body style="position: relative;margin-top: 130px;margin-bottom: 20px">
<div style="margin-bottom: 40px" class="row justify-content-center">
  <div style="height: 120px" class="col-lg-8">
    <div style="height: 100%">
      <h2 style="margin-left: 38%; margin-top: 36px;display: inline-block;font-size: 43px;font-family: 'Roboto';" class="title">LỊCH SỰ KIỆN</h2>
        <a class="animated-btn text-white" href="timkiemsukien">Tìm sự kiện</a>

    </div>
  </div>
</div>
<div class="calendar">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
</body>
<style>
  .calendar{
    width: 80%;
    margin: auto;
  }
</style>
