<form action="">
  <div class="main">
    <div class="main-boder">
      <div class="title">
        <h2>Gửi mail nhắc nhở</h2>
      </div>
      <div class="content">
        <textarea id ="remind-content" [(ngModel)]="content" name="remind-content" rows="10" cols="128" >

        </textarea>
        <div>
          <label><button class="btn-send"  (click)="guiamailnhacnho()">Gửi tất cả</button></label>
        </div>
        <table>
          <tr>
            <th>Stt</th>
            <th>Tên</th>
            <th>Gmail</th>
          <tr *ngFor=" let acc of acc,let i = index">
            <td>{{i+1}}</td>
            <td>{{acc[0]}}</td>
            <td>{{acc[1]}}</td>
          </tr>

        </table>
        <div class="page">
          <label>Bạn đang xem <label>1</label> đến <label>1</label> trong tổng số <label>1</label> mục</label>
          <label id="page-present"><label id="page-present-head">Đầu</label> <label id="page-present-front">Trước</label><button id="page-present-button">1</button><label id="page-present-next">Tiếp</label><label id="page-present-last">Cuối</label></label>
        </div>
      </div>
    </div>
  </div>

</form>
