<div class="main">
  <div class="main-boder">
    <div class="title">
      <h2>Gửi mail nhắc nhở</h2>
    </div>
    <div class="content">
        <textarea id ="remind-content" name="remind-content" rows="10" cols="128">
            Thư thông báo tham gia sự kiện !

            Chào bạn, tôi xin tự giới thiệu, tôi là ngô Minh Cường đến từ Đại Học Duy Tân.
            Thứ 4 tuần này, đúng vào lúc 7h30 tại hội trường 613 - 03 Quang Trung có 1 sự kiện Chào đón tân sinh viên, bạn đã đăng ký sự kiện của tôi vào thứ 7 tuần trước.
            Kính mong sự hiện diện của bạn, sự hiện diện của bạn là niềm vinh hạnh lớn của tôi !

            Minh Cường.
        </textarea>
      <div>
        <label><button class="btn-send">Gửi tất cả</button></label>
      </div>
      <table>
        <tr>
          <th>Id</th>
          <th>Tên</th>
          <th>Gmail</th>
        <tr>
          <td>1</td>
          <td>Ngô Minh Cường</td>
          <td>MinhCuong080799@gmail.com</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Võ Văn Thắng</td>
          <td>ThangVo@gmail.com</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Nguyễn Văn Hồng</td>
          <td>HongNguyen020499@gmail.com</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Nguyễn Hậu</td>
          <td>HauNguyen@gmail.com</td>
        </tr>
      </table>
      <div class="page">
        <label>Bạn đang xem <label>1</label> đến <label>1</label> trong tổng số <label>1</label> mục</label>
        <label id="page-present"><label id="page-present-head">Đầu</label> <label id="page-present-front">Trước</label><button id="page-present-button">1</button><label id="page-present-next">Tiếp</label><label id="page-present-last">Cuối</label></label>
      </div>
    </div>
  </div>
</div>
