*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  color: #0b0b0b;
  font-family: Arial;
}

h2{
  font-family: Sans-Serif;
}
span{
  size: 20px;
  color: #0b0b0b;
}
.main-title {
  margin: 20px 0px 20px 10px;
}

hr {
  margin-top: 15px;
}

.main-title span {
  font-size: 30px;
}

.main-desc {
  border: 1px;
  width: 700px;
  background: #f1f1f1;
  float: left;
  min-height: 500px;
  font-size: 14px;
}

.main-desc div {
  margin: 0px 15px 0px 15px
}

.textbox{
  position:relative;
  margin: 160px auto 40px auto;
  max-width: 90%;
}

#left {
  display: inline-block;
  border: 1px;
  width: 60%;
  margin-left: 10%;
  background: #f1f1f1;
  min-height: 500px;
}

div #left ul {
  list-style-type: none;
  margin-right: 20px;
}

div #left ul li {
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div #left ul li a {
  text-decoration: none;
  color: #333;
}

div #left ul li a:hover {
  color: #1863ff;
}

div #left ul li img {
  Object-fit: cover;
  cursor: pointer;
  max-width: 230px;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 2px;
}

div #left ul li p {
  text-decoration: none;
  color: #333;
}
#right {
  position: absolute;
  display: inline-block;
  border: 1px;
  max-width: 314px;
  background: white;
  min-height: 500px;
  margin-left: 130px;
}

.right-header-news {
  height: 30px;
  width: 314px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  padding-right: 5px;
  background-color: #1863ff
}

#right ul {
  list-style-type: none;
}

#right ul li {
  display: inline-flex;
  margin-bottom: -40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#right ul li a:hover {
  cursor: pointer;
  color: #1d75b3;
}

#right ul li img {
  Object-fit: cover;
  cursor: pointer;
  width: 130px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 2px;
  margin: 5px;
}

#right ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.right-header-reviews {
  height: 30px;
  width: 314px;
  background-color: #d9291d;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  padding-right: 5px;
}
