<div class="textbox" >
  <div id="left">
    <div class="main-title">
      <span>CHI TIẾT TIN TỨC</span>
      <hr>
    </div>
    <div class="main-desc">
      <div>
        Sáng ngày 11/4/2021, Hội nghị Trực tuyến Chương trình Hỗ trợ Du học Nhật Bản của Quỹ
        Jooss đã được tổ chức tại <strong>Đại học Duy Tân</strong>, cơ sở số 3 Quang Trung, Tp. Đà Nẵng.
        Tham dự Hội nghị có ông Shohei Yabuki - Trưởng Đại diện Quỹ Jooss tại Việt Nam; TS. Võ Thanh Hải -
        Phó Hiệu trưởng Đại học Duy Tân, TS. Lê Vĩnh An - Viện trưởng Viện Hợp tác Chiến lược Việt-Nhật
        (VJISC) cùng cán bộ, giảng viên của các đơn vị liên quan và đông đảo sinh viên Đại học Duy Tân.
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Jooss là Quỹ Hỗ trợ Du học trực thuộc Tập đoàn Nagata - Nhật Bản hoạt động với mục tiêu kết nối với
        các trường đại học có sinh viên muốn đi du học tại Nhật Bản hay sinh viên muốn nâng cao trình độ
        tiếng Nhật để làm việc trong các doanh nghiệp của Nhật Bản. Mục tiêu này cũng góp phần thúc đẩy các
        mối quan hệ hợp tác quốc tế giữa 2 nước Việt Nam và Nhật Bản thông qua các hoạt động văn hóa, giáo
        dục.
      </div>

      <div>
        &nbsp;
      </div>

      <div style="text-align: center;">
        <em>
          <img alt="Hội nghị Trực tuyến Chương trình Hỗ trợ Du học Nhật Bản của Quỹ Jooss "
               src="./images/a_1.jpg">
        </em>
      </div>

      <div style="text-align: center;">
        <em>
          <em>Giảng viên của Đại học Duy Tân chụp hình lưu niệm cùng các đại diện Quỹ Jooss</em>
        </em>
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Phát biểu tại Hội nghị, ông Shohei Yabuki - Trưởng đại diện Quỹ Jooss tại Việt Nam chia sẻ:
        “<em>Chúng tôi vô cùng ấn tượng với những thành tựu về đào tạo và nghiên cứu của Đại học Duy Tân
        trong hơn 26 năm xây dựng và phát triển đồng thời rất vui khi được hợp tác với trường đại học có
        hệ thống cơ sở vật chất hiện đại bậc nhất tại miền Trung Việt Nam. Trong thời gian tới, chương
        trình Hỗ trợ Du học Nhật Bản của Quỹ Jooss tại Đại học Duy Tân sẽ ‘sát cánh’ cùng nhiều
        sinh viên Duy Tân trong hành trình tiếp cận và trải nghiệm nền giáo dục tiên tiến tại xứ sở hoa
        anh đào. Chương trình sẽ là ‘cầu nối’ giúp các bạn trẻ có nguyện vọng thực tập, du học và làm
        việc tại Nhật Bản tiếp cận gần hơn với các trường đại học uy tín và nhiều doanh nghiệp lớn của
        Nhật Bản. Chúng tôi tin tưởng, sinh viên tốt nghiệp chương trình Việt-Nhật của Đại học Duy Tân
        sẽ giỏi chuyên môn, vững tiếng Nhật, nhanh chóng tạo lập được vị trí nghề nghiệp trong xã hội
        sau khi ra trường</em>.”
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        <strong>Nâng cao trình độ tiếng Nhật cùng cơ hội thực tập có lương tại Nhật Bản</strong>
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Tham gia chương trình Hỗ trợ Du học Nhật Bản của Quỹ Jooss tại <strong>Đại học Duy
        Tân</strong>, sinh viên sẽ được hỗ trợ đào tạo tiếng Nhật tại Trung tâm Learning and Testing
        Center (LTC) của Đại học Duy Tân. Bên cạnh việc cử giảng viên người Nhật tham gia vào chương trình
        giảng dạy tiếng Nhật, Jooss cũng hỗ trợ về giáo trình tiếng Nhật, các công cụ như smart phone, máy
        casette,… để phục vụ đào tạo E-learning cho sinh viên.
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Do vậy, sinh viên sẽ được:
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        - Đào tạo tiếng Nhật tại Khoa Tiếng Nhật hoặc Trung tâm LTC của <strong>Đại học Duy Tân</strong>
        ngay sau khi nhập học;
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        - Được sang Nhật theo chương trình trao đổi sinh viên (Student Exchange) từ 2 tuần đến 1 tháng vào
        cuối học kỳ 2 hoặc đầu học kỳ 3 nếu đạt trình độ N4 tiếng Nhật.
      </div>
      <div>
        - Được tham gia chương trình thực tập doanh nghiệp (Internship) có hỗ trợ sinh hoạt phí tại các
        doanh nghiệp ở Nhật từ 6 tháng đến 12 tháng nếu đạt trình độ tiếng Nhật từ N3 trở lên, được cấp giấy
        chứng nhận hoàn thành chương trình thực tập doanh nghiệp Nhật Bản. Sau thời gian thực tập sẽ đạt
        trình độ tiếng Nhật N2.
      </div>
      <div>
        - Trường hợp sau khi hoàn thành chương trình Internship, sinh viên có nguyện vọng làm việc theo hợp
        đồng lao động thì sẽ được các công ty Nhật Bản tuyển dụng làm việc tối thiểu 5 năm tại Nhật, lương
        trung bình 25.000.000 đ/tháng.
      </div>

      <div>
        &nbsp;
      </div>

      <div style="text-align: center;">
        <img alt="Hội nghị Trực tuyến Chương trình Hỗ trợ Du học Nhật Bản của Quỹ Jooss "
             src="./images/a_2.jpg">
      </div>
      <div style="text-align: center;">
        <em>Đông đảo sinh viên và những người quan tâm đến tham dự Hội nghị Trực tuyến </em>
      </div>
      <div style="text-align: center;">
        <em>Chương trình Hỗ trợ Du học Nhật Bản của Quỹ Jooss</em>
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Sinh viên tham gia chương trình thực tập doanh nghiệp sẽ được trải nghiệm trong môi trường làm việc
        tiên tiến, thiết thực và hiệu quả nhằm nắm bắt nhu cầu thực tế của xã hội về ngành nghề để tự tin
        làm việc.
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        <strong>Nhiều cơ hội lựa chọn nghề nghiệp và làm việc lâu dài tại đất nước “mặt trời mọc”</strong>
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Cùng với nhiều ưu đãi chỉ dành riêng cho sinh viên tham gia chương trình Hỗ trợ Du học Nhật Bản
        của Quỹ Jooss tại <strong>Đại học Duy Tân</strong>, các bạn sẽ được thỏa sức lựa chọn ngành nghề
        phù hợp với năng lực và sở thích của bản thân trong đa dạng các khối ngành khác nhau:
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        1. Khối ngành Kỹ thuật Công nghệ
      </div>

      <div>
        - Kỹ thuật cơ khí (Mechanical Engineering)
      </div>

      <div>
        - Kỹ thuật Điện-Điện tử (Electrical and Electronic Engineering)
      </div>

      <div>
        - Kiến trúc (Architecture)
      </div>

      <div>
        - Thiết kế đồ hoạ (Graphic design)
      </div>

      <div>
        - Kỹ thuật xây dựng (Civil Engineering)
      </div>

      <div>
        - Công nghệ môi trường (Invironmental Technology)
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        2. Khối ngành Tin học
      </div>

      <div>
        - Hệ thống thông tin (Information Systems)
      </div>

      <div>
        - Kỹ thuật phần mềm (Software Engineering)
      </div>

      <div>
        - Trí tuệ nhân tạo (Artificial Intelligence)
      </div>

      <div>
        - Khoa học dữ liệu (Data Science)
      </div>

      <div>
        - Mạng máy tính và Viễn thông (Computer Networks and Telecommunications)
      </div>

      <div>
        - Bảo mật thông tin (Information Security)
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        3. Khối ngành Sức khoẻ
      </div>

      <div>
        - Điều dưỡng (Nurshing)
      </div>

      <div>
        - Khoa học dược phẩm (Pharmaceutical Sciences)
      </div>

      <div>
        - Sức khoẻ và dinh dưỡng (Health and Nutrition)
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        4. Khối ngành Kinh tế
      </div>

      <div>
        - Quản trị kinh doanh (Business Administration)
      </div>

      <div>
        - Kinh doanh và Thương mại (Business and Commerce)
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        5. Du lịch (Tourism)
      </div>

      <div>
        - Quản lý Nhà hàng &amp; Khách sạn (Restaurant &amp; Hotel Management)
      </div>

      <div>
        - Lữ hành (Travel)
      </div>

      <div>
        - Tổ chức sự kiện (Events)
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        6. Ngôn ngữ tiếng Nhật (Japanese Language Studies)
      </div>

      <div>
        ...
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Theo khung chương trình đào tạo, sau khi kết thúc 2 năm học tại <strong>Đại học Duy Tân</strong> và
        đạt trình độ tiếng Nhật N3 trở lên, sinh viên theo học chương trình Việt - Nhật của Viện VJISC sẽ
        được chuyển tiếp học liên thông tại các trường đại học của Nhật Bản theo chương trình 2+1+2 (2 năm
        học đại cương, cơ sở ngành và tiếng Nhật trình độ N3 ở Đại học Duy Tân + 1 năm học tiếng Nhật trình
        độ N2 ở Nhật Bản + 2 năm học chuyên môn ở đại học Nhật Bản).
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        Các sinh viên tốt nghiệp đạt trình độ tiếng Nhật từ N2 đến N1 sẽ được Đại học Duy Tân và các đại học
        tại Nhật Bản phối hợp cấp bằng Double Degree (có giá trị làm việc ở cả hai quốc gia Việt Nam và Nhật
        Bản) đồng thời được các doanh nghiệp Nhật Bản ưu tiên tuyển dụng với mức lương khoảng 20.000.000
        đồng/tháng ở Việt Nam và 40.000.000 đ/tháng tại Nhật Bản. Bên cạnh đó, người học còn được hỗ trợ
        giới thiệu việc làm thêm trong thời gian học tập ở Nhật với mức thu nhập tối đa khoảng 18.000.000
        đ/tháng, được giới thiệu việc làm tại các doanh nghiệp Nhật Bản đang hoạt động tại Nhật Bản và tại
        Việt Nam ngay sau khi tốt nghiệp.
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        TS. Lê Vĩnh An - Viện trưởng Viện Hợp tác chiến lược Việt-Nhật (VJISC) cho biết: “<em>Nhật Bản, xứ
        sở của hoa Anh đào, đất nước mặt trời mọc, nơi khởi nguồn của những huyền thoại văn hoá-lịch sử,
        thành tựu kỹ thuật công nghệ thời đại và nền giáo dục đào tạo tiên tiến bậc nhất trên thế giới.
        Những thập niên gần đây, Nhật Bản đã trở thành một trong những thị trường lao động tiềm năng và
        bền vững bậc nhất trong khu vực châu Á Thái Bình Dương, thu hút hàng triệu nhân lực nước ngoài
        đến học tập và làm việc hàng năm.</em>
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        <em>Chương trình hợp tác đào tạo Việt-Nhật của Đại học Duy Tân sẽ góp phần giúp các bạn sinh viên
          nhanh chóng biến ước mơ thành hiện thực thông qua các chương trình trao đổi sinh viên, thực tập
          doanh nghiệp, thực tập sinh và du học Nhật Bản,... Với mạng lưới đối tác sâu rộng gồm hệ thống
          các trường đại học, doanh nghiệp và các quỹ hỗ trợ du học Nhật Bản, chương trình hợp tác đào tạo
          của Viện Hợp tác Chiến lược Việt-Nhật (VJISC) - Đại học Duy Tân sẽ mở ra con đường nâng cao
          trình độ chuyên môn trong nghề nghiệp và cơ hội thăng tiến trong cuộc sống cho các bạn sinh
          viên</em>.”
      </div>

      <div>
        &nbsp;
      </div>

      <div>
        <em>(Truyền Thông)</em>
      </div>

      <div>
        &nbsp;
      </div>
    </div>
  </div>
  <div id="right">
    <div class="right-header-news">
      <span>BÀI VIẾT KHÁC</span>
    </div>
    <ul>
      <li>
        <img class="img-float-left" src="assets/images/a_news_1.png">
        <a href="#">Đề án mở ngành: Quản Trị Nhân Lực</a>
      </li>
      <li>
        <img src="assets/images/a-header-review1.jpg">
        <a href="#">Tổng quan về Đại học Duy Tân</a>
      </li>
      <li>
        <img src="assets/images/a-header-review2.jpg">
        <a href="#">Hoạt động Nghiên cứu tại Đại học Duy Tân</a>
      </li>
      <li>
        <img src="assets/images/a-header-reviews.jpg">
        <a href="#">
          Cơ sở Hòa Khánh Nam - Q. Liên Chiểu, Tp. Đà Nẵng</a>
      </li>
      <li>
        <img src="assets/images/a-header-review3.jpg">
        <a href="#">Đại học Duy Tân Nỗ lực Hợp tác Trong nước và Quốc tế</a>
      </li>
    </ul>
  </div>
</div>

