<title>Quên mật khẩu</title>
<div class="container-login100" *ngIf="!isSuccessful" style="position: relative;margin-top: 130px">
  <div class="wrap-login100">
    <form class="login100-form validate-form p-l-55 p-r-55 p-t-178"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && laymatkhauquaemail(form.email)"
          #f="ngForm"
          novalidate
    >
      <span class="login100-form-title">Đổi mật khẩu</span>
      <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
        <input class="input100" type="text" name="email" placeholder="Email (Phải là đuôi @dtu.edu.vn)"
               [(ngModel)]="form.email"
               required
               pattern="^[a-z0-9_-]+@dtu.edu.vn"
               #email="ngModel"
        >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && email.invalid"
        >
          <div *ngIf="email.errors.required">Cần nhập vào email!</div>
          <div *ngIf="email.errors.pattern">
            Phải là email của DTU!
          </div>

        </div>
        <div id="kiemtra" class="alert alert-danger"
             role="alert" *ngIf="!kiemtra">
          Không tìm thấy email !
        </div>
      </div>
      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Gửi mật khẩu qua email
        </button>
        <br>
        <br>
        <br>
      </div>
    </form>
  </div>
</div>
<div class="container-login100" *ngIf="isSuccessful" style="position: relative;margin-top: 130px">
  <div style="margin-top: -330px" class="alert alert-success" *ngIf="isSuccessful">
    Gửi mail thành công, bạn vui lòng check mail để đổi mật khẩu.
  </div>
</div>
<video id="preview"></video>
