<!--Bảng 1-->
<title>Quản lý sự kiện</title>
<div class="content" style="margin-top: 160px">
  <div class="container-fluid" style="position: relative;max-width: 80%;margin: 0px auto 40px auto;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Sự kiện đã đăng kí</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="table-layout:fixed" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên sự kiện</th>
                  <th style="width: 150px;">Thời gian</th>
                  <th style="width: 155px;">Địa điểm tổ chức</th>
                  <th style="width: 65px;">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ng of dangkithamgia ; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{ng[0]}}</td>
                  <td>{{ng[1] | date:'dd/MM/yyyy h:mm a'}}</td>
                  <td>{{ng[2]}}</td>
                  <td>
                    <button (click)="delete(ng[3])" class="btn btn-danger">Hủy</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Bảng 2-->
<div class="content" >
  <div class="container-fluid" style="position: relative;max-width: 80%;margin: 40px auto;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Sự kiện đã đăng kí làm cộng tác viên</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1" style="table-layout:fixed" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên sự kiện</th>
                  <th style="width: 150px;">Thời gian</th>
                  <th style="width: 155px;">Địa điểm tổ chức</th>
                  <th style="width: 150px;">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ctv of congtacviens ;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{ctv[0]}}</td>
                  <td>{{ctv[1]| date:'dd/MM/yyyy h:mm a'}}</td>
                  <td>{{ctv[2]}}</td>
                  <td *ngIf="!ktTime(ctv[1]);else out">
                    <button (click)="deleteCTV(ctv[3])" class="btn btn-danger">Hủy</button>
                    <button (click)="soatve(ctv[3])" style="margin-left: 10px; color: whitesmoke;" class="btn btn-success">Soát vé</button>
                  </td>
                  <ng-template #out>
                    <td>
                      <button (click)="deleteCTV(ctv[3])" class="btn btn-danger" disabled>Hủy</button>
                      <button (click)="soatve(ctv[3])" style="margin-left: 10px; color: whitesmoke;" class="btn btn-success" disabled>Soát vé</button>
                    </td>
                  </ng-template>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


