<div class="container" style="position: relative;margin-top: 130px">
  <div class="row">
    <div class="col-lg-12">
      <div class="event-tab mt-60">
        <input style=" height:40px; width: 855px;" placeholder="  Nhập tên sự kiện cần tìm kiếm">
        <button style="border: none; color: white; border-radius: 5px; margin-top: 5px; background-color: #1863ff; width: 100px; height: 40px;margin-left: 5px;" id="button-search">Tìm kiếm</button>
        <br>
        <br>
        <ul style="display: flex;">
          <li class="nav-item">
            <p >Từ ngày</p>
          </li>
          <li style="margin-left: 207px;" class="nav-item">
            <p>Đến ngày</p>
          </li>
          <li style="margin-left: 196px;" class="nav-item">
            <p>Địa điểm</p>
          </li>
          <li style="margin-left: 200px;" class="nav-item">
            <p>Khoa</p>
          </li>
        </ul>

        <ul class="nav justify-content-between align-items-center" id="myTab" role="tablist">
          <li class="nav-item">
            <div class="dropdown">
              <input type="date"  style=" width: 165px; height: 50px;" >
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <input type="date" style="width: 165px; height: 50px;" >
            </div>
          </li>

          <li class="nav-item">
            <select class="dropdown" style="width: 165px; height: 50px;">
              <option value="hoakhanhnam">Hoà Khánh Nam</option>
              <option value="quangtrung">Quang Trung</option>
              <option value="phanthanh">Phan Thanh</option>
              <option value="viettin" selected>Việt Tin</option>
            </select>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <select class="dropdown" style="width: 165px; height: 50px;">
                <option value="nguyenhau" selected >CNTT</option>
                <option value="vanthang">Du lịch</option>
                <option value="minhcuong">Quản trị kinh doanh</option>
                <option value="vanhong" >Ngoại ngữ</option>
              </select>
            </div>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="day-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="event-content pt-40">
                  <div *ngFor="let sk of sukien">
                    <div class="single-event d-md-flex mt-30">
                      <div class="event-image">
                        <img [src]="sk.img" alt="Event">
                      </div>
                      <div class="event-content media-body">
                        <h4 class="event-title">{{sk.event_name}}</h4>
                        <p class="text">{{sk.describe_of_event}}</p>
                        <ul class="event-meta">
                          <li>Start: {{sk.time_of_event}}</li>
                          <li>End: {{sk.end_day}} </li>
                          <li>Địa điểm: {{sk.place}}</li>
                        </ul>
                      </div>
                    </div>
                  </div> <!-- single event -->
            </div> <!-- event content -->
          </div>
        </div>
      </div>
    </div> <!-- event tab -->
  </div>
</div> <!-- row -->

