<div class="container" style="position: relative;margin-top: 130px">
  <div class="row">
    <div class="col-lg-12">
      <div class="event-tab mt-60">
        <input style=" height:40px; width: 855px;" placeholder="  Nhập tên sự kiện cần tìm kiếm">
        <button style="border: none; color: white; border-radius: 5px; margin-top: 5px; background-color: #1863ff; width: 100px; height: 40px;margin-left: 5px;" id="button-search">Tìm kiếm</button>
        <br>
        <br>
        <ul style="display: flex;">
          <li class="nav-item">
            <p >Từ ngày</p>
          </li>
          <li style="margin-left: 207px;" class="nav-item">
            <p>Đến ngày</p>
          </li>
          <li style="margin-left: 196px;" class="nav-item">
            <p>Địa điểm</p>
          </li>
          <li style="margin-left: 200px;" class="nav-item">
          <p>Khoa</p>
          </li>
        </ul>

        <ul class="nav justify-content-between align-items-center" id="myTab" role="tablist">
          <li class="nav-item">
            <div class="dropdown">
              <input type="date"  style=" width: 165px; height: 50px;" >
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <input type="date" style="width: 165px; height: 50px;" >
            </div>
          </li>

          <li class="nav-item">
            <select class="dropdown" style="width: 165px; height: 50px;">
              <option value="hoakhanhnam">Hoà Khánh Nam</option>
              <option value="quangtrung">Quang Trung</option>
              <option value="phanthanh">Phan Thanh</option>
              <option value="viettin" selected>Việt Tin</option>
            </select>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <select class="dropdown" style="width: 165px; height: 50px;">
                <option value="nguyenhau" selected >CNTT</option>
                <option value="vanthang">Du lịch</option>
                <option value="minhcuong">Quản trị kinh doanh</option>
                <option value="vanhong" >Ngoại ngữ</option>
              </select>
            </div>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="day-1" role="tabpanel" aria-labelledby="day-1-tab">
            <div class="event-content pt-40">
              <div class="single-event d-md-flex mt-30">
                <div class="event-image">
                  <img src="assets/images/sukien1.jpg" alt="Event">
                </div>
                <div class="event-content media-body">
                  <h4 class="event-title">Chào đón tân sinh viên K23</h4>
                  <p class="text">Lễ khai giảng "Khát Vọng Duy Tân: Top 300 Đại Học Châu Á": 7h00 Thứ Năm ngày 14/09/2017 tại Nhà hát Trương Vương.</p>
                  <ul class="event-meta">
                    <li>Bắt đầu: 7.00 AM</li>
                    <li>Kết thúc: 10.00 AM</li>
                    <li>Địa điểm: Hội trường 613, 03 Quang Trung</li>
                    <li style="font-style: italic; color: red;">Sắp diễn ra</li>
                  </ul>
                </div>
              </div> <!-- single event -->

              <div class="single-event d-md-flex mt-30">
                <div class="event-image">
                  <img src="assets/images/sukien1.jpg" alt="Event">
                </div>
                <div class="event-content media-body">
                  <h4 class="event-title">Chào đón tân sinh viên K23</h4>
                  <p class="text">Lễ khai giảng "Khát Vọng Duy Tân: Top 300 Đại Học Châu Á": 7h00 Thứ Năm ngày 14/09/2017 tại Nhà hát Trương Vương.</p>
                  <ul class="event-meta">
                    <li>Bắt đầu: 7.00 AM</li>
                    <li>Kết thúc: 10.00 AM</li>
                    <li>Địa điểm: Hội trường 613, 03 Quang Trung</li>
                    <li style="font-style: italic; color: red;">Sắp diễn ra</li>
                  </ul>
                </div>
              </div> <!-- single event -->

              <div class="single-event d-md-flex mt-30">
                <div class="event-image">
                  <img src="assets/images/sukien1.jpg" alt="Event">
                </div>
                <div class="event-content media-body">
                  <h4 class="event-title">Chào đón tân sinh viên K23</h4>
                  <p class="text">Lễ khai giảng "Khát Vọng Duy Tân: Top 300 Đại Học Châu Á": 7h00 Thứ Năm ngày 14/09/2017 tại Nhà hát Trương Vương.</p>
                  <ul class="event-meta">
                    <li>Bắt đầu: 7.00 AM</li>
                    <li>Kết thúc: 10.00 AM</li>
                    <li>Địa điểm: Hội trường 613, 03 Quang Trung</li>
                    <li style="font-style: italic; color: red;">Sắp diễn ra</li>
                  </ul>
                </div>
              </div> <!-- single event -->
            </div> <!-- event content -->
          </div>
        </div>
      </div>
     </div> <!-- event tab -->
  </div>
</div> <!-- row -->

