<head>
  <title>Đăng ki làm CTV</title>
</head>
<body>
<div class="contact1" *ngIf="currentUser; else loggedOut" style="position: relative;margin-top: 140px">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="assets/images/unnamed.png" alt="IMG">
    </div>
    <form name="form"
          (ngSubmit)="f.form.valid"
          #f="ngForm"
          class="contact1-form"
          novalidate>
				<span class="contact1-form-title" style="color: black">
					Đăng Kí Làm Cộng Tác Viên
				</span>
      <div class="wrap-input1 validate-input" >
        <input class="input1" [(ngModel)]="users.fullname" type="text" name="fullname" placeholder="Họ tên" disabled>
      </div>
      <div class="wrap-input1 validate-input">
        <input class="input1" [(ngModel)]="users.email" type="text" name="email" placeholder="Email" disabled>
      </div>
      <div class="wrap-input1 validate-input">
        <input class="input1" [(ngModel)]="users.phone_number" type="text" name="Phone number" placeholder="Số điện thoại" disabled>
      </div>
      <div class="wrap-input1 validate-input" >
        <input class="input1" [(ngModel)]="users.faculty" type="text" name="Faculty" placeholder="Khoa" disabled>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th scope="col">Tên Sự Kiện</th>
                <th scope="col">Tiêu Chí Đánh Giá</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="max-width: 70px">{{sukien.event_name}}</td>
                <td style="max-width: 80px">{{sukien.criteria}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wrap-input1" >
        <textarea class="input1" [(ngModel)]="dkctv.strength" style="margin-top: 10px;" name="tieuchi" placeholder="Tin nhắn..."></textarea>
      </div>
      <div class="container-contact1-form-btn">
        <button (click)="gui()" class="contact1-form-btn">
						<span>
							Gửi yêu cầu
							<button class="fa fa-long-arrow-right" aria-hidden="true"></button>
						</span>
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #loggedOut>
  <div style="position: relative;margin-top: 140px;margin-bottom: 20px">
    <form style="margin:auto;text-align: center" >
        <h1 style="color: black;">Bạn cần đăng nhập để thực hiện điều này!</h1>
    </form>
  </div>
</ng-template>
</body>

