
<body  style="position: relative;margin-top: 130px">
<!--<div *ngFor="let sk of sukiens">-->
<!--  <div *ngIf="sk.ID == 1">-->
<!--  </div>-->
  <ng-template #old>
  <div class="container" style="width: 70%;margin: auto;position: sticky;">
    <div class="row">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-lg-8 button-join-event">
            <div class="content-event">
              <h1 class="title" style="margin-top:50px; text-align:center;"></h1>
              <br>
              <h5 class="summary"></h5>
              <br>

              <br>
              <h6 class="content"></h6>
              <br>
              <img src="assets/images/sukien2.png">
              <br>
            </div> <!-- section title -->
            <div style="height:30px"></div>
            <div class="text-center">
              <!-- Animated button -->
              <a class="animated-btn text-white" style="margin-bottom: 50px;" href="#">Tham gia ngay</a>
            </div>
          </div>
        </div> <!-- row -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  </ng-template>
<ng-template #elseBlock>
  <h6>Rỗng</h6>
</ng-template>

  </body>


