
*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  color: #0b0b0b;
  font-family: Arial;
}

h2{
  font-family: Sans-Serif;
}
span{
  size: 20px;
  color: #0b0b0b;
}
.main-title {
  margin: 20px 0px 20px 10px;
  text-align: center;
}

hr {
  margin-top: 15px;
}

.main-title span {
  font-size: 30px;
}

.main-desc {
  border: 1px;
  width: 800px;
  float: left;
  min-height: 500px;
  font-size: 14px;
}

.main-desc div {
  margin: 0px 15px 0px 15px
}
.img{
  Object-fit: cover;
  cursor: pointer;
  max-width: 230px;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 5px;
}

.textbox{
  position:relative;
  margin: 160px auto 0px auto;
  max-width: 100%;
}

#left {
  display: inline-block;
  border: 1px;
  width: 100%;
  margin-left: 10%;
  min-height: 500px;
}

div #left ul {
  list-style-type: none;
  margin-right: 20px;
}

div #left ul li {
  margin-bottom: -15px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

div #left ul li a {
  text-decoration: none;
  color: #333;
}

div #left ul li a:hover {
  color: #1863ff;
}

div #left ul li img {
  cursor: pointer;
  width: 250px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 10px;
}

div #left ul li p {
  height: 20%;
  text-align: justify;
  margin-bottom: 10px;
}

#right {
  position: absolute;
  display: inline-block;
  border: 1px;
  max-width: 514px;
  background: white;
  min-height: 500px;
  margin-left: 3%;
  margin-top: 0px;
}

.right-header-news {
  height: 30px;
  width: 314px;
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  padding-right: 5px;
  background-color: #1863ff
}

#right ul {
  list-style-type: none;
}

#right ul li {
  margin-bottom: -20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#right ul li a:hover {
  color: #1863ff;
}


#right ul li img {
  Object-fit: cover;
  cursor: pointer;
  max-width: 130px;
  max-height: 100px;
  border: 1px solid #ccc;
  padding: 2px;
  margin-bottom: 5px;
}

#right ul li a {
  text-decoration: none;
  color: #333;
  margin-bottom: 0px;
  font-size: 14px;
}
.right-header-reviews {
  height: 30px;
  width: 314px;
  background-color: #d9291d;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: center;
  line-height: 30px;
  padding-right: 5px;
}


/*Amination cho xem sự kiện - nút tham gia ngay*/


.animated-btn {
  margin-left: 160%;
  width: 180px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background: #102baf;
  position: relative;
  cursor: pointer;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1349da;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#1349da, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

