.container{
  max-width: 100%;
}
.navbar-brand{
  margin-left: 20%;
}
.navbar-expand-lg .navbar-collapse{
  max-width: 40%;
}

.login{
  margin-left: 5%;
}

.dropbtn {
  background-color: whitesmoke;
  padding: 5px 16px 5px 16px;
  font-size: 16px;
  line-height: 40px;
  border-radius:10px ;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 0.2%;
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 208.5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0c7cd5;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
  color: #0c7cd5;
}

.dropdown:hover .dropbtn {
  background: whitesmoke;
  border-radius: 10px;
}

#daxem{
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  max-height: 500px;
  background-color: white;
}

#daxem:hover {
  background-color: #f1f1f1;
}

.dropdown-content1 {
  margin-top: 1%;
  display: none;
  position: absolute;
  background-color: #b3d7ff;
  background: #b3d7ff;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  max-height: 300px;
}

.dropdown-content1 a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  max-height: 500px;
  background-color: #d5e7f8;
}

.dropdown-content1 a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content1 {
  display: block;
  color: #0c7cd5;
  min-height: 90px;
}

.dropdown:hover .dropbtn {
  background: whitesmoke;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  min-height: 300px;
  width: 65px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
  border-radius: 10px;
}
.force-overflow {
  min-height: 450px;
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar {
  margin-left: -300px;
  width: 12px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  margin-left: -300px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #155ef6;
}

.scrollbar-primary {
  margin-left: -301px;
  border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-danger {
  scrollbar-color: #ff3547 #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-warning {
  scrollbar-color: #FF8800 #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-success {
  scrollbar-color: #00C851 #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-info {
  scrollbar-color: #33b5e5 #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-default {
  scrollbar-color: #2BBBAD #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

.scrollbar-secondary {
  scrollbar-color: #aa66cc #F5F5F5;
}

#badge{
  margin-top: -10px;
}

.timeago{
  float:right;
  font-style: italic;
  font-size: small;
  color: blue;
  position:static;
}
