
<div class="limiter" style="position: relative;margin-top: 130px">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178"
            *ngIf="!isLoggedIn"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
      >
        <span class="login100-form-title">Đăng nhập</span>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input class="input100" type="text" name="username" placeholder="Tên đăng nhập"
                 [(ngModel)]="form.username"
                 required
                 #username="ngModel"
          >

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Cần nhập vào tên đăng nhập!
          </div>
        </div>
        <div class="wrap-input100 validate-input alert-validate" data-validate="Please enter password">
          <input class="input100" type="password" name="pass" placeholder="Mật khẩu"
                 [(ngModel)]="form.password"
                 required
                 minlength="6"
                 #password="ngModel"
          >

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div *ngIf="password.errors.required">Cần nhập mật khẩu!</div>
            <div *ngIf="password.errors.minlength">
              Mật khẩu ít nhất 6 kí tự!
            </div>
          </div>
        </div>
        <div class="text-right1">
          <input type="checkbox" id="save-pwd" class="save-pwd">
          <label for="save-pwd" class="label-save-pwd">Ghi nhớ mật khẩu</label>
          <a href="quenmatkhau" class="txt2">
            Quên Mật khẩu?
          </a>
        </div>
        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Đăng nhập
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
        <div class="flex-col-c p-t-170 p-b-40">
                            <span class="txt1 p-b-9">
                                Bạn chưa có tài khoản?
                            </span>
          <a href="dangky" class="txt3">
            Đăng ký
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

