<!--Footer dành cho người dùng-->
<div *ngIf="showAdminBoard;else user">
</div>
<ng-template #user>
<div style="display: block;position: relative" >
  <section  id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer.jpg)">
    <div  class="footer-widget">
      <div class="container">
        <div class="widget  pt-80 pb-130">
          <div class="row">
            <div class="col-lg-6">
              <div class="footer-address mt-40" style="margin-top: 5px;">
                <h5 class="f-title">Về chúng tôi</h5>
                <ul style="height: 290px">
                  <li>
                    <div class="single-info d-flex mt-25">
                      <div class="info-icon">
                        <i class="lni-envelope"></i>
                      </div>
                      <div class="info-content media-body">
                        <h6 class="info-title" style="color: white;">Địa chỉ email</h6>
                        <p class="text"><a class="text" href="mailto:vanphong@duytan.edu.vn?subject=Feedback&body=Message" style="color: white;" >vanphong@duytan.edu.vn</a></p>
                      </div>
                    </div> <!-- single info -->
                  </li>
                  <li>
                    <div class="single-info d-flex mt-25">
                      <div class="info-icon">
                        <i class="lni-phone-handset"></i>
                      </div>
                      <div class="info-content media-body">
                        <h6 class="info-title" style="color: white;">Số điện thoại</h6>
                        <p class="text"><a class="text" style="color: white;" href="tel:+84-511- 3653 561">+84-511- 3653 561</a></p>
                      </div>
                    </div> <!-- single info -->
                  </li>
                  <li>
                    <div class="single-info d-flex mt-25">
                      <div class="info-icon">
                        <i class="lni-money-location"></i>
                      </div>
                      <div class="info-content media-body">
                        <h6 class="info-title" style="color: white;">Địa chỉ</h6>
                        <p class="text"><a class="text" style="color: white;" href="https://www.google.com/maps/place/Duy+Tan+University/@16.060038,108.2076238,17z/data=!3m1!4b1!4m5!3m4!1s0x314219b4239d8e51:0x96e408c6b0419760!8m2!3d16.0600329!4d108.2098125">254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng</a></p>
                      </div>
                    </div> <!-- single info -->
                  </li>
                </ul>
              </div> <!-- footer address -->
            </div>
            <div class="col-lg-6">
              <div class="footer-contact mt-40" style="margin-top: 5px;">
                <h5 class="f-title" >Kết nối trực tuyến</h5>
                <p class="text">Đừng bỏ lỡ điều gì! Nhận tin tức hàng ngày. Bạn nên kết nối để có bất kỳ cập nhật thích hợp vào bất kỳ lúc nào</p>
                <ul class="social">
                  <li><a href="https://www.facebook.com/Duy.Tan.University"><i class="lni-facebook-filled"></i></a></li>
                  <li><a href="https://duytan.edu.vn/"><i class="lni lni-home" ></i></a></li>
                </ul>
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- widget -->
      </div> <!-- container -->
    </div> <!-- footer widget -->

    <div class="footer-copyright" style="margin-top: 73px">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright text-center" >

              <p class="text">Trang được thiết kế và phát triển bởi nhóm 4 in 1. Tất cả do chúng tôi thực hiện.</p>
            </div> <!-- copyright -->
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- container -->
  </section>
</div>
</ng-template>
<!--End Footer dành cho người dùng-->

<!--Footer dành cho admin-->

<!--End Footer dành cho admin-->
