<title>Tin tức</title>
<div class="textbox" >
  <div id="left">
    <div class="news">
      <h2>TIN TỨC</h2>
      <hr width="96%" size="10" color="black">
    </div>
    <div >
      <ul>
        <li *ngFor="let tt of tintuc | paginate: {itemsPerPage:5, currentPage:p};">
              <div class="box-img">
                <img  (click)="detailTT(tt.id)" [src]="tt.img"/>
              </div>
              <div class="box-content">
                <h5>
                  <a (click)="detailTT(tt.id)" >{{tt.title}} </a>
                </h5>
                <p>{{tt.describe_of_news}}</p>
            </div>
        </li>
        <pagination-controls style="text-align: center" previousLabel="Trước"
                             nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
      </ul>
    </div>
  </div>
  <div id="right">
    <div class="right-header-news">
      <span>CÁC TIN KHÁC</span>
      <span>BÀI VIẾT KHÁC</span>
    </div>
    <ul *ngFor="let tt of tintuc;let i=index">
      <div  *ngIf="i % 4" >
        <li>
          <img (click)="detailTT(tt.id)" [src]="tt.img">
          <a (click)="detailTT(tt.id)" >{{tt.title}}</a>
        </li>
      </div>
    </ul>
  </div>
</div>
