<div class="textbox"  >
  <div id="left">
    <div class="news">
      <h2>TIN TỨC</h2>
      <hr width="96%" size="10" color="black">
    </div>
    <div >
      <ul>
        <li >
          <div style="display: flex; " *ngFor="let tt of tintuc"  >
              <img  (click)="detailTT(tt.id)" [src]="tt.img"/>
              <div>
                <h5>
                  <a (click)="detailTT(tt.id)" >{{tt.title}} </a>
                </h5>
                <p>{{tt.describe_of_news}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="right">
    <div class="right-header-news">
      <span>BÀI VIẾT MỚI NHẤT</span>
    </div>
    <ul *ngFor="let tt of tintuc;let i=index">
      <div  *ngIf="i % 4" >
        <li>
          <img (click)="detailTT(tt.id)" [src]="tt.img">
          <a (click)="detailTT(tt.id)" >{{tt.title}}</a>
        </li>
      </div>
    </ul>
  </div>
</div>
