<div class="textbox" >
  <div id="left" >
    <div class="news">
      <h2>TIN TỨC</h2>
      <hr width="96%" size="10" color="black">
    </div>
    <ul  *ngFor="let tt of tintuc">
      <li>
        <img [src]="tt.img"/>
        <h3>
          <a href="#">{{tt.title}}</a>
        </h3>
        <p>{{tt.describe_of_news}}</p>
        <div class="desc">
          <span>{{tt.post_day | date:'dd/MM/yyyy'}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div id="right">
    <div class="right-header-news">
      <span>BÀI VIẾT KHÁC</span>
    </div>
    <ul *ngFor="let tt of tintuc;let i=index">
      <div  *ngIf="i % 4" >
        <li>
          <img [src]="tt.img">
          <a href="#">{{tt.title}}</a>
        </li>
      </div>
    </ul>
  </div>
</div>
