<title>Đổi mật khẩu</title>
<div class="container-login100" *ngIf="!isSuccessful" style="position: relative;margin-top: 130px">
  <div class="wrap-login100">
    <form class="login100-form validate-form p-l-55 p-r-55 p-t-178"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && doimatkhau(token,form.password)"
          #f="ngForm"
          novalidate
    >
      <span class="login100-form-title">Đổi mật khẩu</span>
      <div class="wrap-input100 validate-input alert-validate" data-validate="Please enter password">
        <input class="input100" type="password" name="pass" placeholder="Mật khẩu"
               [(ngModel)]="form.password"
               required
               minlength="6"
               #password="ngModel"
        >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Cần nhập mật khẩu!</div>
          <div *ngIf="password.errors.minlength">
            Mật khẩu ít nhất 6 kí tự!
          </div>
        </div>
      </div>
      <div class="wrap-input100 validate-input alert-validate" data-validate="Please enter password">
        <input class="input100" type="password" name="re_pass" placeholder="Nhập lại mật khẩu"
               [(ngModel)]="pwd"
        >
        <div class="alert alert-danger"
             role="alert"
             *ngIf="f.submitted && pwd!=form.password">
          Mật khẩu không giống nhau!
        </div>
      </div>
      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
          Đổi mật khẩu
        </button>
        <br>
        <br>
        <br>
      </div>
    </form>
  </div>
</div>
<div class="container-login100" *ngIf="isSuccessful" style="position: relative;margin-top: 130px">
  <div style="margin-top: -330px" class="alert alert-success" *ngIf="isSuccessful">
    Đổi mật khẩu thành công.
  </div>
</div>

