<title>Đổi mật khẩu</title>
<div #appendTo class="container-login100" style="position: relative;margin-top: 130px">
  <div class="wrap-login100">
    <form (ngSubmit)="doimatkhau(token,password)" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                           Đổi mật khẩu
                        </span>
      <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
        <input class="input100" [(ngModel)]="password" type="text" name="password" placeholder="Nhập mật khẩu mới">
        <br>
        <input class="input100" type="text" name="password" placeholder="Nhập lại mật khẩu">
        <span class="focus-input100"></span>
      </div>
      <div class="container-login100-form-btn">
        <button type="submit" name="email" class="login100-form-btn" >
          Đổi mật khẩu
        </button>
      </div>
      <div class="flex-col-c p-t-170 p-b-40">
        <a href="dangnhap" class="txt3">
          Quay lại
        </a>
      </div>
    </form>
  </div>
</div>
