#timer div {
  color: #ffffff;
  width: 100px;
  height: 105px;
  border-radius: 5px;
  font-size: 90px;
  font-weight: 700;
  margin-right: 150px;
}
#timer div span {
  font-size: 20px;
  display: block;
  margin-top: -2px;
  font-weight: 500;
}
.team-name:hover{
  cursor: pointer;
}
.team-image:hover{
  cursor: pointer;
}
