<div style="position: relative;margin-top: 110px">
  <div id="home" class="header-content-area bg_cover d-flex align-items-center"
       style="background-image: url(assets/images/header-bg.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div style="margin-left: 50px" id="timer"  class="flex-wrap d-flex justify-content-center">
            <div id="days" style="color: #ee163a;" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="hours" style="color: #ffc107;" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="minutes" style="color: #03a9f4;" class="align-items-center flex-column d-flex justify-content-center"></div>
            <div id="seconds" style="color: #8bc34a;" class="align-items-center flex-column d-flex justify-content-center"></div>
          </div>
          <div data-countdown="2021/04/30"></div>
          <div class="header-content text-center">
            <h2 class="header-title">{{sukienhot.event_name}}</h2>
            <h3 class="sub-title">{{sukienhot.time_of_event}}, Tại {{sukienhot.place}}</h3>
            <ul class="header-btn">
              <li><a class="main-btn main-btn-2" style="color: white;" (click)="detailSK(sukienhot.id)">Tham gia ngay</a></li>
              <li><a class="main-btn" href="#">Thông tin</a></li>

            </ul>
          </div>  <!-- header content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- header content -->
  <section id="about" class="about-area pb-130 pt-80">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-image mt-50 wow fadeInLeft" data-wow-duration="1s">
            <img src="assets/images/dtu.jpg" alt="About">
          </div> <!-- about image -->
        </div>
        <div class="col-lg-6">
          <div class="about-content mt-45 wow fadeInRight" data-wow-duration="1s">
            <div class="section-title">
              <h2 class="title">Sự kiện tân sinh viên</h2>
            </div> <!-- section title -->

            <p class="text mt-30"> Bắt đầu mỗi năm học đến hẹn lại lên<br>. <br> Chương trình tổ chức giao lưu giữa tân
              sinh viên các khoa với nhau. </p>
            <p class="date"><span>01<sup>th</sup></span>Tháng 5 2021</p>
          </div> <!-- about content -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->

  </section>

  <!--====== ABOUT PART ENDS ======-->
  <!--====== TEAM PART START ======-->

  <section id="team" class="team-area pt-115 pb-130">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center pb-20">
            <h2 class="title">TIN TỨC</h2>
            <p class="text">Tổng hợp tin tức sự kiện DTU</p>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
            <div class="team-image">
              <img src="assets/images/team-1.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">Tân Sinh Viên</a></h4>
              <span class="sub-title">14/08/2021</span>
            </div>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="team-image">
              <img src="assets/images/team-2.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">Bóng đá IT</a></h4>
              <span class="sub-title">29/03/2021</span>
            </div>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <div class="team-image">
              <img src="assets/images/team-3.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">Serminar-Rikkei</a></h4>
              <span class="sub-title">25/5/2021</span>
            </div>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="team-image">
              <img src="assets/images/team-4.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">...</a></h4>
              <span class="sub-title">...</span>
            </div>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
            <div class="team-image">
              <img src="assets/images/team-5.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">...</a></h4>
              <span class="sub-title">...</span>
            </div>
          </div> <!-- single team -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">
            <div class="team-image">
              <img src="assets/images/team-6.jpg" alt="Team">
            </div>
            <div class="team-content">
              <div class="team-social">
                <ul class="social">
                  <li><a href="#"><i class="lni-information"></i></a></li>
                  <li><a href="#"><i class="lni-chevron-down-circle"></i></a></li>
                </ul>
              </div>
              <h4 class="team-name"><a href="#">...</a></h4>
              <span class="sub-title">...</span>
            </div>
          </div> <!-- single team -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="gallery-btn pt-60 text-center">
            <a class="main-btn main-btn-2" href="tintuc">Xem tất cả</a>
          </div>
        </div>
      </div> <!-- row -->
    </div>
  </section>

  <!--====== TEAM PART ENDS ======-->

  <!--====== EVENT SCHEDULE PART START ======-->
  <section id="event">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2 class="title">LỊCH SỰ KIỆN</h2>
            <p class="text"></p>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="event-tab mt-60">
            <ul class="nav justify-content-between align-items-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="active" id="day-1-tab" (click)="dataMonth(month)" data-toggle="tab" href="#day-1" role="tab" aria-controls="day-1"
                   aria-selected="true">
                  <h4 class="nav-title">Tháng {{month}}</h4>
                  <span> </span>
                </a>
              </li>
              <li class="nav-item">
                <a id="day-2-tab" data-toggle="tab" (click)="dataMonth(month + 1)" href="#day-2" role="tab" aria-controls="day-2"
                   aria-selected="false">
                  <h4 class="nav-title">Tháng {{month + 1}}</h4>
                  <span> </span>
                </a>
              </li>
              <li class="nav-item">
                <a id="day-3-tab" data-toggle="tab" (click)="dataMonth(month + 2)" href="#day-3" role="tab" aria-controls="day-3"
                   aria-selected="false">
                  <h4 class="nav-title">Tháng {{month + 2}}</h4>
                  <span> </span>
                </a>
              </li>
              <li class="nav-item">
                <a id="day-4-tab" data-toggle="tab" (click)="dataMonth(month + 3)" href="#day-4" role="tab" aria-controls="day-4"
                   aria-selected="false">
                  <h4 class="nav-title">Tháng {{month + 3}}</h4>
                  <span> </span>
                </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="day-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="event-content pt-40">
                  <div *ngFor="let sk of sukien | paginate: {itemsPerPage:5, currentPage:p};">
                      <div (click)="detailSK(sk.id)" class="single-event d-md-flex mt-30">
                        <div class="event-image">
                          <img (click)="detailSK(sk.id)" [src]="sk.img" alt="Event">
                        </div>
                        <div class="event-content media-body">
                          <h4 class="event-title">{{sk.event_name}}</h4>
                          <p class="text">{{sk.describe_of_event}}</p>
                          <ul class="event-meta">
                            <li>Start: {{sk.time_of_event}}</li>
                            <li>End: {{sk.end_day}} </li>
                            <li>Địa điểm: {{sk.place}}</li>
                          </ul>
                        </div>
                      </div>
                  </div><!-- single event -->
                  <pagination-controls style="text-align: center" previousLabel="Trước"
                                       nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
                </div> <!-- event content -->
              </div>
              <div class="tab-pane fade" id="day-2" role="tabpanel" aria-labelledby="day-2-tab">
                <div class="event-content pt-40">
                  <div *ngFor="let sk of sukien | paginate: {itemsPerPage:5, currentPage:p};">
                      <div (click)="detailSK(sk.id)" class="single-event d-md-flex mt-30">
                        <div class="event-image">
                          <img (click)="detailSK(sk.id)" [src]="sk.img" alt="Event">
                        </div>
                        <div class="event-content media-body">
                          <h4 class="event-title">{{sk.event_name}}</h4>
                          <p class="text">{{sk.describe_of_event}}</p>
                          <ul class="event-meta">
                            <li>Start: {{sk.time_of_event}}</li>
                            <li>End: {{sk.end_day}} </li>
                            <li>Địa điểm: {{sk.place}}</li>
                          </ul>
                        </div>
                      </div>
                  </div> <!-- single event -->
                  <pagination-controls style="text-align: center" previousLabel="Trước"
                                       nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
                </div> <!-- event content -->
              </div>
              <div class="tab-pane fade" id="day-3" role="tabpanel" aria-labelledby="day-3-tab">
                <div class="event-content pt-40">
                  <div *ngFor="let sk of sukien | paginate: {itemsPerPage:5, currentPage:p};">
                      <div (click)="detailSK(sk.id)" class="single-event d-md-flex mt-30">
                        <div class="event-image">
                          <img (click)="detailSK(sk.id)" [src]="sk.img" alt="Event">
                        </div>
                        <div class="event-content media-body">
                          <h4 class="event-title">{{sk.event_name}}</h4>
                          <p class="text">{{sk.describe_of_event}}</p>
                          <ul class="event-meta">
                            <li>Start: {{sk.time_of_event}}</li>
                            <li>End: {{sk.end_day}} </li>
                            <li>Địa điểm: {{sk.place}}</li>
                          </ul>
                        </div>
                      </div>
                  </div> <!-- single event -->
                  <pagination-controls style="text-align: center" previousLabel="Trước"
                                       nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
                </div> <!-- event content -->
              </div>
              <div class="tab-pane fade" id="day-4" role="tabpanel" aria-labelledby="day-4-tab">
                <div class="event-content pt-40">
                  <div *ngFor="let sk of sukien | paginate: {itemsPerPage:5, currentPage:p};">
                      <div (click)="detailSK(sk.id)" class="single-event d-md-flex mt-30">
                        <div class="event-image">
                          <img (click)="detailSK(sk.id)" [src]="sk.img" alt="Event">
                        </div>
                        <div class="event-content media-body">
                          <h4 class="event-title">{{sk.event_name}}</h4>
                          <p class="text">{{sk.describe_of_event}}</p>
                          <ul class="event-meta">
                            <li>Start: {{sk.time_of_event}}</li>
                            <li>End: {{sk.end_day}} </li>
                            <li>Địa điểm: {{sk.place}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div> <!-- single event -->
                <pagination-controls style="text-align: center" previousLabel="Trước"
                                     nextLabel="Sau" (pageChange)="p = $event"></pagination-controls>
                </div> <!-- event content -->
              </div>
            </div>
          </div>
        </div> <!-- event tab -->
    </div> <!-- row -->
    <!-- container -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="gallery-btn pt-60 text-center">
        <a class="main-btn main-btn-2" href="sukien">Xem tất cả</a>
      </div>
    </div>
  </div> <!-- row -->
</div>
</section>

<!--====== EVENT SCHEDULE PART ENDS ======-->

<!--====== GALLERY PART START ======-->
<section id="gallery" style="margin-top: 30px" class="event-gallery pt-115 pb-130 gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-50">
          <h2 class="title">Thư viện</h2>
          <p class="text">Lưu trữ những khoảnh khắc đáng nhớ</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="row no-gutters">
    <div class="col-lg-6">
      <div class="single-gallery1">
        <div class="gallery-image">
          <img src="assets/images/event (1).jpg" alt="Gallery">
        </div>
        <div class="gallery-content">
          <a class="image-popup" href="assets/images/event (1).jpg"><i class="lni-plus"></i></a>
        </div>
      </div> <!-- single gallery -->
    </div>
    <div class="col-lg-6">
      <div class="row no-gutters">
        <div class="col-sm-6">
          <div class="single-gallery">
            <div class="gallery-image">
              <img src="assets/images/event (2).jpg" alt="Gallery">
            </div>
            <div class="gallery-content">
              <a class="image-popup" href="assets/images/event (2).jpg"><i class="lni-plus"></i></a>
            </div>
          </div> <!-- single gallery -->
        </div>
        <div class="col-sm-6">
          <div class="single-gallery">
            <div class="gallery-image">
              <img src="assets/images/event (3).jpg" alt="Gallery">
            </div>
            <div class="gallery-content">
              <a class="image-popup" href="assets/images/event (3).jpg"><i class="lni-plus"></i></a>
            </div>
          </div> <!-- single gallery -->
        </div>
        <div class="col-sm-6">
          <div class="single-gallery">
            <div class="gallery-image">
              <img src="assets/images/event (4).jpg" alt="Gallery">
            </div>
            <div class="gallery-content">
              <a class="image-popup" href="assets/images/event (4).jpg"><i class="lni-plus"></i></a>
            </div>
          </div> <!-- single gallery -->
        </div>
        <div class="col-sm-6">
          <div class="single-gallery">
            <div class="gallery-image">
              <img src="assets/images/event (5).jpg" alt="Gallery">
            </div>
            <div class="gallery-content">
              <a class="image-popup" href="assets/images/event (5).jpg"><i class="lni-plus"></i></a>
            </div>
          </div> <!-- single gallery -->
        </div>
      </div> <!-- row -->
    </div>
  </div> <!-- row -->

</section>

<!--====== GALLERY PART ENDS ======-->

<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area pt-80 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info pt-40">
          <div class="section-title pb-10">
            <h2 class="title">Liên Lạc</h2>
          </div> <!-- section title -->
          <ul>
            <li>
              <div class="single-info d-flex mt-25">
                <div class="info-icon">
                  <i class="lni-envelope"></i>
                </div>
                <div class="info-content media-body">
                  <h6 class="info-title">Địa chỉ email</h6>
                  <p class="text">hongnguyen020499@gmail.com</p>
                </div>
              </div> <!-- single info -->
            </li>
            <li>
              <div class="single-info d-flex mt-25">
                <div class="info-icon">
                  <i class="lni-phone-handset"></i>
                </div>
                <div class="info-content media-body">
                  <h6 class="info-title">Số điện thoại</h6>
                  <p class="text">0935309693</p>
                </div>
              </div> <!-- single info -->
            </li>
            <li>
              <div class="single-info d-flex mt-25">
                <div class="info-icon">
                  <i class="lni-money-location"></i>
                </div>
                <div class="info-content media-body">
                  <h6 class="info-title">Địa chỉ</h6>
                  <p class="text">Điện Hòa, Điện Bàn, Quảng Nam</p>
                </div>
              </div> <!-- single info -->
            </li>
          </ul>
        </div> <!-- contact info -->
      </div>
      <div class="col-lg-8">
        <div class="contact-form pt-20">
          <form (ngSubmit)="guilienlac()" id="contact-form" action="assets/contact.php" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="single-form">
                  <input [(ngModel)]="message.name" type="text" name="name" placeholder="Họ và tên">
                  <i class="lni-user"></i>
                </div> <!-- single form -->
              </div>
              <div class="col-md-6">
                <div class="single-form">
                  <input type="email" [(ngModel)]="message.email" name="email" placeholder="Email">
                  <i class="lni-envelope"></i>
                </div> <!-- single form -->
              </div>
              <div class="col-md-6">
                <div class="single-form">
                  <input type="text" [(ngModel)]="message.subject" name="subject" placeholder="Ngành của bạn">
                  <i class="lni-pencil-alt"></i>
                </div> <!-- single form -->
              </div>
              <div class="col-md-6">
                <div class="single-form">
                  <input type="text" [(ngModel)]="message.sdt" name="sdt" placeholder="Số điện thoại">
                  <i class="lni-phone-handset"></i>
                </div> <!-- single form -->
              </div>
              <div class="col-md-12">
                <div class="single-form">
                  <textarea name="message" [(ngModel)]="message.loinhan" placeholder="Lời nhắn của bạn"></textarea>
                  <i class="lni-comment-alt"></i>
                </div> <!-- single form -->
              </div>
              <p class="form-message"></p>
              <div class="col-md-12">
                <div class="single-form">
                  <button type="submit" class="main-btn main-btn-2" style="width: 150px">Gửi</button>
                </div> <!-- single form -->
              </div>
            </div> <!-- row -->
          </form>
        </div> <!-- contact form -->
      </div>
    </div>
  </div> <!-- container -->
</section>

<!--====== CONTACT PART ENDS ======-->
</div>

