<div class="row" style="margin-top: 180px;">
  <div class="col">
    <a class="button" href="sukiencuatoi" style="vertical-align:middle"><span>Quản lý CTV</span></a>
  </div>
</div>
<div class="content" style="margin-top: 40px">
  <div class="container-fluid" style="position: relative;max-width: 80%;margin: 0px auto 40px auto;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Người tham gia sự kiện</h4>
            <p class="card-category"></p>
          </div>
          <select (change)="ntg()" [(ngModel)]="idevent" name="tensukien"  style=" width: auto; height: 50px; outline:none;">
            <option value="{{sk.id}}" *ngFor="let sk of sukiens">{{sk.event_name}}</option>
          </select>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="table-layout:fixed" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Họ & Tên</th>
                  <th>Email</th>
                  <th>Số Điện Thoại</th>
                </tr>
                </thead>
                <tbody>
                <tr (change)="ntg()" *ngFor="let nguoithamgia of nguoithamgias, let i = index" >
                  <td>{{i+1}}</td>
                  <td>{{nguoithamgia[0]}}</td>
                  <td>{{nguoithamgia[1]}}</td>
                  <td>{{nguoithamgia[2]}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
