<div class="content" style="margin-top: 160px">
  <div class="container-fluid" style="position: relative;max-width: 80%;margin: 0px auto 40px auto;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Người tham gia sự kiện</h4>
            <p class="card-category"></p>
          </div>
          <select  (change)="ntg()" [(ngModel)]="idevent" name="tensukien"  style=" width: auto; height: 50px; outline:none;">
            <option value="{{sk.id}}" *ngFor="let sk of sukiens" >{{sk.event_name}}</option>
          </select>
          <div style="display: flex">
            <button class="btn-send" style="width: 200px;"  [disabled]="clicked" (click)="get_day();actionMethod(); clicked = true;">Gửi mail nhắc nhở lúc</button>
            <select [(ngModel)]="outtime1" style=" width: 150px; height: 40px; outline:none;margin-top: 15px">
              <option selected value="1">
                {{time_of_event_3}}
              </option>
              <option value="2">
                {{time_of_event_2}}
              </option>
              <option value="3">
                {{time_of_event_1}}
              </option>
            </select>
            <select [(ngModel)]="sogio" style=" width: 150px; height: 40px; outline:none;margin-top: 15px">
              <option value="{{number}}" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
                {{number}}:00
              </option>
            </select>
          </div>
          <button (click)="soatve(idevent)" style="margin:15px 0px 0px 20px;width: 100px" class="btn-xv">Soát vé</button>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="table-layout:fixed" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                  <th style="width: 30px">STT</th>
                  <th style="width: 200px">Họ & Tên</th>
                  <th style="width: 500px">Email</th>
                  <th>Số Điện Thoại</th>
                  <th style="width: 140px">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr (change)="ntg()" *ngFor="let nguoithamgia of nguoithamgias, let i = index" >
                  <td>{{i+1}}</td>
                  <td>{{nguoithamgia[0]}}</td>
                  <td>{{nguoithamgia[1]}}</td>
                  <td>{{nguoithamgia[2]}}</td>
                  <td *ngIf="!nguoithamgia[3]">
                    <button disabled class="btn btn-danger">Chưa tham gia</button>
                  </td>
                  <td *ngIf="nguoithamgia[3]">
                    <button disabled class="btn btn-success" style="width: 147.59px;">Đã tham gia</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
