<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<br>
<div class="main" style="position: relative;margin-top: 130px">
  <section class="signup">
    <!-- <img src="images/signup-bg.jpg" alt=""> -->
    <div class="container">
      <div class="signup-content">
        <div class="form-title-header">
          <div>
              <h2 class="form-title">{{trangthai}}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br>
