<!--Bảng 1-->
<title>Sự kiện của tôi</title>
<div class="row" style="margin-top: 180px;">
  <div class="col">
    <a class="button" href="quanlysukien" style="vertical-align:middle"><span>Quản lý sự kiện</span></a>
  </div>
  <div class="col">
    <a class="button1" href="nguoithamgiasukien" style="vertical-align:middle;float: right"><span>Người tham gia sự kiện</span></a>
  </div>
</div>
<div class="content" style="margin-top: 40px">
  <div class="container-fluid" style="position: relative;max-width: 80%;margin: 0px auto 40px auto;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">

            <h4 class="card-title ">Sự kiện đã đăng kí tổ chức</h4>

            <h4 class="card-title ">Cộng tác viên của sự kiện</h4>

            <p class="card-category"></p>
          </div>
          <select (change)="tsk()" [(ngModel)]="idevent" name="tensukien"  style=" width: auto; height: 50px; outline:none;">
            <option value="{{sk.id}}" *ngFor="let sk of sukiens">{{sk.event_name}}</option>
          </select>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="table-layout:fixed" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Họ & Tên</th>
                  <th>Email</th>
                  <th>Điểm mạnh</th>
                  <th>Số Điện Thoại</th>
                  <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr (change)="tsk()"s *ngFor="let ctv of qlcongtacviens, let i = index" >
                  <td>{{i+1}}</td>
                  <td>{{ctv[0]}}</td>
                  <td>{{ctv[1]}}</td>
                  <td>{{ctv[2]}}</td>
                  <td>{{ctv[3]}}</td>
                  <td>
                    <input id="hau" [(ngModel)]="ctv[4]" (change)="tsk()" (click)="duyet(ctv[4],ctv[5])" type="checkbox">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Bảng 2-->



