<title>Thông tin cá nhân</title>
<body style="position: relative;margin-top: 130px">
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row"style="border: 1.5px solid;border-radius: 6px;">
    <div class="col-md-3 border-right">
      <div class="file-input" style="margin: 33%;">
        <input accept="image/x-png,image/gif,image/jpeg" type='file' (change)="readURL($event);" id="file" class="file" />
        <img style="max-width: 180px;max-height: 180px" id="blah"  [src]="imageSrc || 'http://placehold.it/180'" alt="your image"  />
        <label for="file">Chọn ảnh</label>
        <div class="alert-danger" *ngIf="f.submitted && imageSrc==null">Bạn phải chọn ảnh</div>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Thông tin cá nhân</h4>
        </div>
        <form
          name="form"
          (ngSubmit)="f.form.valid && users.faculty!='Chọn khoa' && imageSrc!=null && save($event)"
          #f="ngForm"
          novalidate>
        <div class="row mt-3 ">
          <div class="col-md-12">
            <label class="labels">Họ và tên</label>
            <input type="text" name="fullname" [(ngModel)]="users.fullname" class="form-control"
            required
            minlength="2"
            maxlength="30"
            #fullname = "ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && fullname.invalid">
              <div *ngIf="fullname.errors.required">Vui lòng nhập tên</div>
              <div *ngIf="fullname.errors.minlength">Tên Không được dưới 2 kí tự</div>
              <div *ngIf="fullname.errors.maxlength">Tên Không được quá 30 kí tự</div>
            </div>
          </div>
        </div>
        <div class="row mt-3 ">
          <div class="col-md-12">
            <label class="labels">Ngày sinh:</label>
            <input value="{{users.day_of_birth | date: 'yyyy-MM-dd'}}" [(ngModel)]="users.day_of_birth" id="date" type="date" name="dayofbirth" class="form-control"
                   required
                   #dayofbirth="ngModel"
            />
            <div class="alert-danger" *ngIf="f.submitted && dayofbirth.invalid">
              <div *ngIf="dayofbirth.errors.required">Vui lòng nhập ngày sinh</div>
            </div>
            <div class="alert-danger" *ngIf="f.submitted && !this.checkDateOfBirth(this.users.day_of_birth)">
              Phải lớn hơn hoặc bằng 17 tuổi!
            </div>
          </div>
        </div>
        <div class="row mt-3 ">
          <div class="col-md-12">
            <label class="labels">Giới tính: </label>
            <br>
              <label class="radio-inline-nam">
                <input  [defaultChecked]="users.gender" type="radio" name="gender"  value="true">Nam
                <input  [defaultChecked]="!users.gender" type="radio" name="gender"  value="false">Nữ
              </label>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label style="" class="labels">Số điện thoại</label>
            <input type="text" name="phone"  [(ngModel)]="users.phone_number" class="form-control"
            required
            pattern="(0)[0-9 ]{9}"
            #sdt = "ngModel"
            />
            <div class="alert-danger"  *ngIf="f.submitted && sdt.invalid">
              <div *ngIf="sdt.errors.required">Vui lòng nhập số điện thoại.</div>
              <div *ngIf="sdt.errors.pattern">Vui lòng nhập đúng định dạng</div>
            </div>
          </div>
          <div class="col-md-12"><label class="labels" style="margin-top: 2%;">Email</label>
            <input type="text" name="email" [(ngModel)]="users.email" class="form-control" disabled>
          </div>
          <div class="col-md-12"><label class="labels" style="margin-top: 2%;">Khoa</label>
            <select  [(ngModel)]="users.faculty" name="faculty" class="form-control" required #faculty="ngModel">
              <option value="Chọn khoa">Chọn khoa</option>
              <option value="Công nghệ thông tin">Công nghệ thông tin</option>
              <option value="Kế Toán">Kế Toán</option>
              <option value="Y dược">Y dược</option>
              <option value="Kiến Trúc">Kiến Trúc</option>
              <option value="Ngoại ngữ">Ngoại ngữ</option>
            </select>
            <div class="alert-danger" *ngIf="f.submitted && users.faculty=='Chọn khoa'">
             Bạn phải chọn khoa!
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="submit" [disabled]="!f.form.valid">Lưu</button>
        </div>
        </form>
      </div>
    </div>

  </div>
</div>

</body>
